@import "tailwindcss";

@theme {
    /* Tamanhos Personalizados */
    --background-size-175per: 175%;
    --background-size-195per: 195%;
    --background-size-lgper: 1000px;

    /* Posições personalizadas */
    --background-position-banner: top 35% center;
    --background-position-banner-mobile: top 55% center;
    --baground-position-banner-lg: top 25% center;
    
    /* Configuração de Spacing */
    --spacing-a14: 3.5rem;
    --spacing-a125px: 125px;
    
    /* Configuração de Cores */
    --color-hoverspt: #18d760;
    --color-purplemain: #2D46B9;
    --color-greenmain: #1ED760;

    /* Tamanho da Fonte */
    --text-9xl: 9rem;

}

/* Imagem de Fundo*/

.bg-spotify-theme-mobile {
    background-image: url('../img/bursts-mobile.svg');
}


.bg-spotify-theme {
    background-image: url('../img/bursts.svg');
}


/* Configuração de Spacing */

@utility a14 { spacing: var(--spacing-a14); }

@utility a125px { spacing: var(--spacing-a125px); }


/* Configuração de BackgroundSize */

@utility bg-size-175per { background-size: var(--background-size-175per); }

@utility bg-size-195per { background-size: var(--background-size-195per); }

@utility bg-size-lgper { background-size: var(--background-size-lgper); }

@utility bg-position-banner { background-position: var(--background-position-banner); }

@utility bg-position-banner-mobile { background-position: var(--background-position-banner-mobile); }

@utility bg-position-banner-lg { background-position: var(--baground-position-banner-lg); }